.tags {
  width: 190px;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 10vh;

  &__list {

    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;

    .item__group {
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      padding: 5px;
      margin: 0.2rem;
      font-weight: bold;

      .item {
        &:hover {
          color: rgb(109, 69, 224);
        }
      }

      .delete {
        padding: 0 0.5rem;
        color: #c02222;
        cursor: pointer;
        font-size: 1.2rem;

        &:hover {
          color: rgb(3, 3, 3);
          transform: scale(1.1);
        }
      }
    }
  }

  .reset {
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
  }
}
